{% load static %}

<nav> <!-- why the jinja static before loading images? -->
    <a href="{% url 'home' %}">
    <img id="logo" src ="{% static 'images/tuefrtLogo.svg' %}">
    </a>
    <ul>
        <li>
            <a href="{% url 'home' %}">Dashboard</a>
        </li>
        {% if request.user.is_staff %}
        <li>
            <a href="{% url 'inventory' %}">Inventory</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'account' %}">Settings</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'logout' %}">
                <img id="userIcon" src="{% static 'images/user.svg'%}">
            </a>
        </li>
    </ul>
</nav>

<hr>
