{% load static %}

<h1>Navbar</h1>
<nav>
    <ul>
        <li>
            <a href="{% url 'landing' %}">Landing</a>
        </li>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        {% if request.user.is_staff %}
        <li>
            <a href="{% url 'inventory' %}">Inventory</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'account' %}">Settings</a>
        </li>
        {% endif %}
        <li>
            Hello, {{request.user}}
        </li>
        <li>
            <a href="{% url 'logout' %}">logout</a>
        </li>
    </ul>
</nav>

<hr>
