{% load static %}

<nav> <!-- why the jinja static before loading images? -->
    <img id="logo" src ="{% static 'images/tuefrtLogo.svg' %}">
    <ul>
        <li>
            <a href="{% url 'landing' %}">Landing</a>
        </li>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'inventory' %}">Inventory</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <img id="userIcon" src="{% static 'images/user.svg'%}">
            </a>
        </li>
    </ul>
</nav>

<hr>
